Servidor PHP/TicTacToe.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Descripción WSDL de la clase TicTacToe. -->

<definitions name="TicTacToe" targetNamespace="urn:TicTacToe" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tns="urn:TicTacToe" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- Tipos complejos -->

  <types xmlns="http://schemas.xmlsoap.org/wsdl/">
    <xsd:schema targetNamespace="urn:TicTacToe">
			
      <xsd:element name="turnoUsuario">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="posX" type="xsd:integer"/>
            <xsd:element name="posY" type="xsd:integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="turnoUsuarioReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="turnoUsuarioResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="turnoMaquina">
        <xsd:complexType />
      </xsd:element>

      <xsd:element name="turnoMaquinaReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="turnoMaquinaResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="marcarEnTablero">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="caracJugador" type="xsd:string" />
            <xsd:element name="movimiento" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="estadoDeJuego">
        <xsd:complexType/>
      </xsd:element>

      <xsd:element name="estadoDeJuegoReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="estadoDeJuegoResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getTablero">
        <xsd:complexType/>
      </xsd:element>

        <xsd:element name="getTableroReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getTableroResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <!-- Mensajes para comunicarse con la clase TicTacToe. -->

  <message name="turnoUsuarioRequest">
    <part name="parameters" element="tns:turnoUsuario" />
  </message>

  <message name="turnoUsuarioResponse">
    <part name="parameters" element="tns:turnoUsuarioReturn" />
  </message>

  <message name="turnoMaquinaRequest">
    <part name="parameters" element="tns:turnoMaquina" />
  </message>

  <message name="turnoMaquinaResponse">
    <part name="parameters" element="tns:turnoMaquinaReturn" />
  </message>

  <message name="marcarEnTableroRequest">
    <part name="parameters" element="tns:marcarEnTablero" />
  </message>

  <message name="estadoDeJuegoRequest">
    <part name="parameters" element="tns:estadoDeJuego" />
  </message>

  <message name="estadoDeJuegoResponse">
    <part name="parameters" element="tns:estadoDeJuegoReturn" />
  </message>

  <message name="getTableroRequest">
    <part name="parameters" element="tns:getTablero" />
  </message>

  <message name="getTableroResponse">
    <part name="parameters" element="tns:getTableroReturn" />
  </message>

  <!-- Puerto para comunicar con la clase TicTacToe -->

  <portType name="TicTacToePort">

    <operation name="turnoMaquina">
      <input message="tns:turnoMaquinaRequest" />
      <output message="tns:turnoMaquinaResponse" />
    </operation>

    <operation name="turnoUsuario">
      <input message="tns:turnoUsuarioRequest" />
      <output message="tns:turnoUsuarioResponse" />
    </operation>

    <operation name="marcarEnTablero">
      <input message="tns:marcarEnTableroRequest" />
    </operation>

    <operation name="estadoDeJuego">
      <input message="tns:estadoDeJuegoRequest" />
      <output message="tns:estadoDeJuegoResponse" />
    </operation>

    <operation name="getTablero">
      <input message="tns:getTableroRequest" />
      <output message="tns:getTableroResponse" />
    </operation>

  </portType>

  <!-- Vinculación de los llamados con el transporte - Document, SOAP/Literal over HTTP -->

  <binding name="TicTacToeBinding" type="tns:TicTacToePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="turnoUsuario">
      <soap:operation soapAction="urn:TicTacToe#TicTacToe#turnoUsuario" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="turnoMaquina">
      <soap:operation soapAction="urn:TicTacToe#TicTacToe#turnoMaquina" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="marcarEnTablero">
      <soap:operation soapAction="urn:TicTacToe#TicTacToe#marcarEnTablero" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>

    <operation name="estadoDeJuego">
      <soap:operation soapAction="urn:TicTacToe#TicTacToe#estadoDeJuego" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="getTablero">
      <soap:operation soapAction="urn:TicTacToe#TicTacToe#getTablero" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

  </binding>

  <!-- Punto de comunicación con la clase TicTacToe -->

  <service name="TicTacToe">
    <documentation />
    <port name="TicTacToePort" binding="tns:TicTacToeBinding">
      <soap:address location="http://titanic.ecci.ucr.ac.cr:80/~eb66538/tictactoe/" />
    </port>
  </service>

</definitions>